@font-face {
    font-family: 'CG';
    src: url(../font/SansSerifFLF.otf);
}

/* Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'CG';
}

:root {
    --bg-color: #101012;
    --text-color: #fdfdfd;
    --main-color: #fed12d;
    --white-color: #fdfdfd;
    --dark-color: #101012;
    --shadow-color: rgba(255, 255, 255, 0.2)
}

html,
body {
    background-color: var(--bg-color);
}

/* HEADER NAVBAR */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

header .nav-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s all ease;
}

.bi-x-lg,
.bi-list-ul {
    display: none;
}

.nav-bar .logo {
    color: var(--white-color);
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--shadow-color);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1.3em;
    text-decoration: none;
    text-shadow: var(--shadow-color);
}

.navigation .nav-items a i {
    display: none;
}

.navigation .nav-items a:not(:last-child) {
    margin-right: 45px;
}

/* HOME */
